.sign-up-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    }
    
    .form-title {
    text-align: center;
    margin-bottom: 30px;
    }
    
    .form-field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    }
    
    .form-field label {
    font-weight: bold;
    margin-bottom: 10px;
    }
    
    .form-field input {
    padding: 10px;
    font-size: 16px;
    }
    .form-field select {
        padding: 10px;
        font-size: 16px;
        width: 100%;
        height: 40px;
    }      
    .submit-button {
    background-color: lightblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    }
    
    .submit-button:hover {
    background-color: blue;
    }